#intro_guide {
    padding-top: 20vw;
}

#guide {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 10px;
}

#guide img {}


@media (min-width: 800px) {
    #intro_guide {
        padding-top: 10vw;
    }

    #guide {}


}

@media (min-width: 1280px) {}
