* {
    box-sizing: border-box;
    margin: 0;
}

img {
    max-width: 100%;
}

body {}

header {}

nav {}

.burger {}

.burger a {}

h1 {}

.splash {}

.logo {}

.logo img {}

main {}

.filter {}

.filter button {}

#multi_planter {}

article {}

article img {}

article h3 {}

arcicle button {}

footer {}
