* {
    box-sizing: border-box;
    margin: 0;
}

img {
    max-width: 100%;
}


body {}

header {}

nav {}

.burger {}

.burger a {}

h1 {
    font-family: Philosopher, sans-serif;
    color: white;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 20px;
}
h2 {
    font-family: Philosopher, sans-serif;
    color: white;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 20px;
}
h3 {
    font-family: Philosopher, sans-serif;
    color: white;
    font-size: 1.4rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 20px;
}
p {
    font-family: Quattrocento, sans-serif;
    color: white;
    font-size: 1.3rem;
    width: 1000px;
  text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

.splash {}

.logo {}

.logo img {}

main {}

.filter {
    width: 100%;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.filter button {
    border-radius: 100px 100px 100px 100px;
    width: 150px;
    height: 50px;
    font-family: Quattrocento, sans-serif;
    font-size: 1.1rem;
      font-weight: bold;
    /* background-color: #95DB9C;*/


}

#multi_planter {
    display: grid;
    grid-gap: 20px;
}

article {

    width: 100%;

}

article img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: transform .5s;
    /*animation af zoom på hover*/

}

.article_billede {
    overflow: hidden;
    /*sørger for at billedet bliver i boks ved hover/zoom*/
}

/*article img:hover {
    transform: scale(1.5);
    zoom ved hover
}*/


article h3 {}

arcicle button {}

footer {}


.valgt {
    background-color: #CA9C2C;
    color: aliceblue;
}

@media (min-width: 800px) {
    #multi_planter {

        grid-template-columns: 1fr 1fr 1fr;

    }
}

@media (min-width: 1280px) {

    #multi_planter {

        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
