* {
    box-sizing: border-box;
    margin: 0;
}

img {
    max-width: 100%;
}

body {}

header {}

nav {}

.burger {}

.burger a {}

h1 {}

.splash {}

.logo {}

.logo img {}

main {}

.filter {}

.filter button {}

#multi_planter {}

article {}

article img {}

article h3 {}

arcicle button {}

footer {}

@media (min-width: 800px) {
    #multi_planter {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }
}

@media (min-width: 1280px) {

    #multi_planter {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }
