* {
    box-sizing: border-box;
    margin: 0;
}

img {
    max-width: 100%;
}

header {}

.single_logo {}

.single_logo img {}

header h1 {}

main {}

article {}

article img {}

.sol {}

.sol img {}

.vand {}

.vand img {}

article h2 {}

artcile p {}

footer {}
