* {
    box-sizing: border-box;
    margin: 0;
}

img {
    max-width: 100%;
}

body {
    background-image: linear-gradient(#85A69B, #4C6E72);
}


header {
    position: fixed;
    display: block;
    width: 100%;
    height: 50px;
    background-color: #4D7553;
    z-index: 98;
}

.logo_navn_menu {
    display: flex;
    text-decoration: none;
}

.logo_menu {
    height: 46px;
    margin-left: 1vw;
    z-index: 99;
}

.mamaflora_menu {
    color: #CA9C2C;
    padding: 14px;
    font-size: 19px;
    z-index: 99;
}

#myLinks {
    display: none;
}

.topnav {
    display: block;
    background-color: #4D7553;
    height: 48px;
}

#myLinks {
    position: absolute;
    width: 100%;
    height: 150px;
    background-color: #9AB3AF;
}

.active a {
    text-align: center;
    position: relative;
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
    display: block;
}

.icon img {
    background-color: #4D7553;
    width: 44px;
    height: 43px;
}

.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}



/*burgermenu og animation*/
#burgercontainer {
    padding: 4px;
    display: inline-block;
    cursor: pointer;
    padding-right: 10px;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #CA9C2C;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

nav div:first-of-type {
    border-bottom: 2px solid white;
    display: block;
    width: 80%;
    margin: 0 auto;
}

nav div:nth-of-type(2) {
    border-top: 2px solid white;
    display: block;
    width: 80%;
    margin: 0 auto;
}

/*nav {}

.burger {
    width: 50px;
    height: 40px;
    background-image: url(img/BURGER_01.svg);
    background-size: cover;
    margin-top: 5px;
}

nav li {
    display: none;
    padding-top: 5px;
}

li a {
    width: 100%;
    height: 50px;
    background-color: #9AB3AF;
    display: inline-block;
    text-align: center;
    padding-top: 15px;
    color: white;
    text-decoration: none;
}

li a:nth-of-type(2) {
    border-bottom: 2px solid white;
    border-top: 2px solid white;

}

.burger:onclick + nav li,
nav li:hover {
    display: block;
    position: absolute;
    width: 100%;
    height: 200px;
}

li a:hover {
    background-color: #CA9C2C;
}

header h1 {
    float: left;
    display: inline;
    margin-left: 70px;
    color: #CA9C2C;
    margin-top: 5px;
}*/


.splash {
    padding-top: 45px;
    background-image: url(img/splash_01.jpg);
    background-size: cover;
    background-position: 30% 30%;
    height: 100%;
}

.logo {
    padding-top: 5vw;
    padding-bottom: 5vw;
    width: 40vw;
    margin: 0 auto;

}

.logo img {}



main {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 10vw;
}

section {}

#forside_planter {
    display: grid;
    grid-gap: 30px;
    padding-top: 50px;
}

h1 {
    font-family: Philosopher, sans-serif;
    color: white;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 20px;
}
h2 {
    font-family: Philosopher, sans-serif;
    color: #CA9C2C;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 16px;
}
h3 {
    font-family: Philosopher, sans-serif;
    color: white;
    font-size: 1.4rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 20px;
}
p {
    font-family: Quattrocento, sans-serif;
    color: white;
    font-size: 1.2rem;
    width: 1100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.plante_01 {

    background-image: url(img/monstrea.jpg);
    background-size: cover;
    width: 75vw;
    height: 60vw;
    margin: 0 auto;
    background-position: 10% 10%;

}

.plante_02 {
    background-image: url(img/Strelitzia_Nicolai.jpg);
    background-size: cover;
    width: 75vw;
    height: 60vw;
    margin: 0 auto;
    background-position: 70% 70%;

}

.plante_03 {
    background-image: url(img/aloe_vera.jpg);
    background-size: cover;
    width: 75vw;
    height: 60vw;
    margin: 0 auto;
    background-position: 100% 100%;
}

.plante_04 {
    display: none;
    background-image: url(img/monstrea.jpg);
    background-size: cover;
    width: 75vw;
    height: 60vw;
    margin: 0 auto;
    background-position: 10% 10%;
}

.plante_05 {
    display: none;
    background-image: url(img/Strelitzia_Nicolai.jpg);
    background-size: cover;
    width: 75vw;
    height: 60vw;
    margin: 0 auto;
    background-position: 70% 70%;
}

.plante_06 {
    display: none;
    background-image: url(img/aloe_vera.jpg);
    background-size: cover;
    width: 75vw;
    height: 60vw;
    margin: 0 auto;
    background-position: 100% 100%;

}

#forside_planter h3 {
    margin: 0 auto;
    text-align: center;
    border: 2px solid white;
    width: 200px;
    margin-top: 25vw;
    padding: 25px;
    color: white;
    opacity: none;
}

#forside_planter img {}


.splash_02 {
    background-image: url(img/splash_03.jpg);
    width: 90%;
    height: 30vw;
    margin: 0 auto;
    margin-top: 30px;
}

.splash_02 img {}

#galleri_insp {}

.insp_01 {}

.insp_02 {}

.insp_03 {}

.insp_04 {}

.insp_05 {}

.insp_06 {}

footer {
    background-color: #4D7553;
    height: 5vw;
}

footer p {
    font-style: normal;
    font-size: 0.8rem;
}

/*OM OS SIDE*/

.logo_om {
    width: 50vw;
    display: grid;
    margin: auto;
    padding-top: 55px;
}

#om_os_info .divider {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 1px;
}

#om_os_info .div-transparent:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(48, 49, 51), transparent);
}

#om_os_info .div-dot:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -9px;
    left: calc(50% - 9px);
    width: 18px;
    height: 18px;
    background-color: goldenrod;
    border: 1px solid rgb(48, 49, 51);
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px white,
        0 0 0 4px white;
}


@media (min-width: 800px) {



    #forside_planter {
        grid-template-columns: 1fr 1fr;
        max-width: 90%;
        margin: 0 auto;
    }

    .plante_01,
    .plante_02,
    .plante_03,
    .plante_04 {
        width: 100%;
        height: 300px;
        display: block;
    }

    #forside_planter h3 {
        max-width: 100%;
        margin-top: 12vw;

    }


    .logo {
        width: 30vw;
    }

    #burgercontainer {
        display: none;
    }

    #myLinks {
        display: flex;
        background-color: transparent;
        margin-top: 0;
        height: auto;
        justify-content: flex-end;
        top: 0;
    }

    nav div:first-of-type {
        display: none;
    }

    nav div:nth-of-type(2) {
        display: none;
    }

    .active a:hover {
        color: #CA9C2C;
    }

    /*    OM OS SIDE */

    #om_os_section {
        padding: 5vw;
        padding-top: 55px;
        display: grid;
        grid-template-columns: 2fr 3fr;
        align-items: center;
    }

    #om_os_info {
        padding: 5vw 10vw 0 5vw;
    }


}

@media (min-width: 1280px) {
    #forside_planter {

        grid-template-columns: 1fr 1fr 1fr;

    }

    .plante_01,
    .plante_02,
    .plante_03,
    .plante_05,
    .plante_06,
    .plante_04 {
        width: 100%;
        height: 300px;
        display: block;
    }

    #forside_planter h3 {

        margin-top: 7.5vw;

    }
}
