* {
    box-sizing: border-box;
    margin: 0;
}

img {
    max-width: 100%;
}

header {
    width: 100%;
    height: 45vw;
}

nav {
    width: 100%;
    height: 3vw;
    background-color: green;
}

.burger {}

h1 {}

.splash {
    background-image: url(img/splash_01.jpg);
    background-size: cover;
    background-position: 30% 30%;
    height: 40vw;
}

.logo {
    width: 40vw;
    margin: 0 auto;
}

.logo img {}

body {}

main {}

section {}

#forside_planter {}

h3 {}

.plante_01 {}

.plante_02 {}

.plante_03 {}

.plante_04 {}

.plante_05 {}

.plante_06 {}

.splash_02 {}

.splash_02 img {}

#galleri_insp {}

.insp_01 {}

.insp_02 {}

.insp_03 {}

.insp_04 {}

.insp_05 {}

.insp_06 {}

footer {}
