* {
    box-sizing: border-box;
    margin: 0;
}

img {
    max-width: 100%;
}

body {}

header {
    position: fixed;
    display: block;
    width: 100%;
    height: 50px;
    background-color: #4D7553;
    z-index: 1000;
}

#myLinks {
    display: none;
}

.topnav {
    display: block;
    background-color: #4D7553;
    height: 48px;
}

#myLinks {
    margin-top: 47px;
    position: absolute;
    width: 100%;
    height: 150px;
    background-color: #9AB3AF;
}

.active a {
    text-align: center;
    position: relative;
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
    display: block;
}

.icon img {
    background-color: #4D7553;
    width: 44px;
    height: 43px;
}

.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}



/*burgermenu og animation*/
#burgercontainer {
    padding: 4px;
    display: inline-block;
    cursor: pointer;
    padding-right: 10px;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #CA9C2C;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

nav div:first-of-type {
    border-bottom: 2px solid white;
    display: block;
    width: 80%;
    margin: 0 auto;
}

nav div:nth-of-type(2) {
    border-top: 2px solid white;
    display: block;
    width: 80%;
    margin: 0 auto;
}

/*nav {}

.burger {
    width: 50px;
    height: 40px;
    background-image: url(img/BURGER_01.svg);
    background-size: cover;
    margin-top: 5px;
}

nav li {
    display: none;
    padding-top: 5px;
}

li a {
    width: 100%;
    height: 50px;
    background-color: #9AB3AF;
    display: inline-block;
    text-align: center;
    padding-top: 15px;
    color: white;
    text-decoration: none;
}

li a:nth-of-type(2) {
    border-bottom: 2px solid white;
    border-top: 2px solid white;

}

.burger:onclick + nav li,
nav li:hover {
    display: block;
    position: absolute;
    width: 100%;
    height: 200px;
}

li a:hover {
    background-color: #CA9C2C;
}

header h1 {
    float: left;
    display: inline;
    margin-left: 70px;
    color: #CA9C2C;
    margin-top: 5px;
}*/


.splash {
    padding-top: 45px;
    background-image: url(img/splash_01.jpg);
    background-size: cover;
    background-position: 30% 30%;
    height: 100%;
}

.logo {
    padding-top: 5vw;
    padding-bottom: 5vw;
    width: 40vw;
    margin: 0 auto;

}

.logo img {}



main {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}

section {}

#forside_planter {}

h3 {}

.plante_01 {}

.plante_02 {}

.plante_03 {}

.plante_04 {}

.plante_05 {}

.plante_06 {}

.splash_02 {}

.splash_02 img {}

#galleri_insp {}

.insp_01 {}

.insp_02 {}

.insp_03 {}

.insp_04 {}

.insp_05 {}

.insp_06 {}

footer {}

@media (min-width: 800px) {


    .burger:hover + nav li,
    nav li:hover {
        display: block;
        position: absolute;
        width: 300px;
        height: 200px;
    }

    .logo {
        width: 30vw;
    }
}

@media (min-width: 1280px) {}
